html {
    color: #333;
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 5% 10%;
}

a {
    color: #333;
    text-decoration: none;
    line-height: 169%;
}

a:hover {
    color: #000;
}

p {
    margin: 20px;
}

th {
    min-width: 100px;
}

td {
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
}

input[type='submit'],
textarea {
    border: 1px solid #E0E0E0;
}

input[type='checkbox'] {
    text-align: center;
    width: 12px;
    height: 12px;
}

input[type='submit'] {
    font-size: 15px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
}

input[type='submit']:hover,
textarea:focus {
    outline: none;
    border-color: #C7C7C7;
}

textarea {
    font-size: 14px;
    height: 80px;
    width: 50%;
}

.form {
    width: 50%;
    margin:0 25%;
    text-align: center;
}

.radio {
    text-align: left;
}

.div10 {
    height: 10px;
}

.div20 {
    height: 20px;
}

.status {
    padding: 4px;
    margin: -4px;
}

.flashes {
    text-align: center;
}

.status.in-progress,
.list-group-item.in-progress {
    background-color: #80FFBF;
}

.status.annotated,
.list-group-item.annotated {
    background-color: #D1EDFF;
}

/*---- index.html -----------------------*/

.admin-table th {
    text-align: center;
}

.admin-table tr:first-child:hover {
    background-color: #fff !important;
}

.admin-table td:first-child {
    text-align: left;
}

.cell:before {
    font-size: 20px;
    font-family: FontAwesome;
    display: inline-block;
    content: '\f00d';
}

.cell.in-progress{
    color: #80FFBF;;
}

.cell.annotated {
    color: #83ceff;
}

.mail:before {
    color: #C7C7C7;
    font-size: 20px;
    font-family: FontAwesome;
    display: inline-block;
    content: '\f1d9';
    padding-right: 20px;
}

.mail:hover:before {
    color: #333;
    cursor: pointer;
}

.mail.wait:before {
    color: #333;
    cursor: wait;
}

/*---- doc.html -------------------------*/

table.sentences {
    padding: 0;
    margin: 0;
    border: none;
}

table.sentences td {
    white-space: normal;
    text-align: left;
}

td.index {
    color: #C7C7C7;
    font-size: 14px;
    text-align: right !important;
    vertical-align: top;
    width: 40px;
    padding-top: 6px;
    padding-right: 20px;
}

/*---- annotate.html --------------------*/

form.annotate {
    width: 100%;
    text-align: center;
}

.annotate table {
    padding: 20px 10px;
    margin: auto auto 20px;
    border: 3px solid #E0E0E0;
}

#play-video {
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}

#play-video:hover {
    color: #5FB6C7;
}

.video {
    margin: -10px auto 40px;
}

.annotation-container {
    width: 100%;
    overflow: scroll;
}

.word {
    padding: 0 10px 10px;
}

.utterance-break {
    color: #C7C7C7;
    letter-spacing: 1px;
    font-size: 9px;
}

.UB-indicator {
    height: 250px;
    width: 2px;
    margin: auto;
    background-color: #DDDDDD;
}

.rating { 
    border: none;
}

.rating > input {
    display: none;
}

.rating > label { 
    color: #DDDDDD;
}

.rating > label:before {
    font-size: 20px;
    font-family: FontAwesome;
    display: inline-block;
    content: '\f00d';
    margin: 5px;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label {
    color: #1F57B2; /* dark blue */
  } 

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label,
.rating:not(:checked) > label:hover ~ input:checked ~ label {
    color: #5FB6C7; /* light blue */
}

/*---- entrance.html --------------------*/

.flash {
    font-family: 'Pacifico', Garamond, cursive;
    text-align: center;
}
