<!DOCTYPE html>

<html lang='en'>
    
    <head>
        <meta charset='utf-8'/>
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel='stylesheet' href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}"/>
        {% if config.TESTING %}
        <link rel='icon' type='image/png' href="{{ url_for('static', filename='images/favicon-TEST.png') }}">
        {% else %}
        <link rel='icon' type='image/png' href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel='apple-touch-icon-precomposed' href="{{ url_for('static', filename='images/favicon.png') }}">
        {% endif %}
    </head>

    <body>
        <div class='leave'><a href="{{ url_for('logout_view') }}">Sign Out</a></div>
        {% block body %}{% endblock %}
    </body>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

</html>