{% extends 'base.html' %}

{% block title %}
{{ doc }}
{% endblock %}

{% block body %}
<table class='sentences'>
    {% for sentence in doc.sentences %}
    <tr>
        <td class='index'> 
            <span class='index'>{{ sentence.index }}</span>
        </td>
        <td>
            <a href="{{ url_for('annotate_view', title=doc.title, index=sentence.index) }}" class='status {{ sentence.annotation_status(session.current_user) }}'>{{ sentence.sentence }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/doc.js') }}"></script>
{% endblock %}