<!DOCTYPE html>

<html lang='en'>
    
    <head>
        <meta charset='utf-8'/>
        <title>Metric Gold</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}"/>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/entrance.css') }}"/>
        {% if config.TESTING %}
        <link rel='icon' type='image/png' href="{{ url_for('static', filename='images/favicon-TEST.png') }}">
        {% else %}
        <link rel='icon' type='image/png' href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel='apple-touch-icon-precomposed' href="{{ url_for('static', filename='images/favicon.png') }}">
        {% endif %}
    </head>

    <body>
        <form method='POST'>
            <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
            <br>
            <input type='text' name='username' placeholder='username'>
            <br>
            <input type='password' name='password' placeholder='password'>
            <br>
            <input type='submit' value='Sign In'>
        </form>
        {% for message in get_flashed_messages() %}
        <div class='flash'>{{ message }}</div>
        {% endfor %}
    </body>

</html>