{% extends 'base.html' %}

{% block title %}
Metric Gold
{% endblock %}

{% block body %}

<!-- admin table -->
{% if session.is_admin %}
<div class='table-responsive'>
    <table class='table table-hover admin-table'>
        <tr>
            <th></th>
            {% for user in users %}
            <th>{{ user.username }}</th>
            {% endfor %}
        </tr>
        {% for doc in docs %}
        <tr>
            <td>
                <span class='csv' id='{{ doc.title }}' name='{{ csrf_token() }}'></span>
                <a href="{{ url_for('doc_view', title=doc.title) }}" class='status {{ doc.annotation_status(session.current_user) }}'> {{ doc }}</a>
            </td>
            {% for user in users %}
            <td>
                {% if doc.annotation_status(user.id) != 'unannotated' %}
                <span class='cell {{ doc.annotation_status(user.id) }}'></span>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<!-- annotator docs -->
{% else %}
<ul class='list-group'>
    {% for doc in docs %}
    <li class='list-group-item {{ doc.annotation_status(session.current_user) }}'>
        <a href="{{ url_for('doc_view', title=doc.title) }}"> {{ doc }}</a>
    </li>
    {% endfor %}
</table>
{% endif %}
{% endblock %}

{% if session.is_admin %}
{% block footer %}
<script src="{{ url_for('static', filename='js/csv.js') }}"></script>
{% endblock %}
{% endif %}