{% extends 'base.html' %}

{% block title %}
Metric Gold
{% endblock %}

{% block body %}
<div class='welp'></div>
<div class='nav'>
    <span class='emph'>Inaugural Addresses</span>
</div>
{% if session.is_admin %}
<table class='admin-table'>
    <tr>
        <th></th>
        {% for user in users %}
        <th>{{ user.username }}</th>
        {% endfor %}
        <th></th>
    </tr>
    {% for doc in docs %}
    <tr>
        <td class='align-left'>
            <span class='bullet'>&#xf105;</span>
            <a href="{{ url_for('doc_view', title=doc.title) }}" class='status {{ doc.annotation_status(session.current_user) }}'> {{ doc }}</a>
        </td>
        {% for user in users %}
        <td class='align-middle'>
            <span class='cell {{ doc.annotation_status(user.id) }}'></span>
        </td>
        {% endfor %}
        <td class='align-left' style='padding-left:40px;'>
            <span class='mail' id='{{ doc.title }}' name='{{ csrf_token() }}'></span>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
{% for doc in docs %}
<p>
    <span class='bullet'>&#xf105;</span> 
    <a href="{{ url_for('doc_view', title=doc.title) }}" class='status {{ doc.annotation_status(session.current_user) }}'> {{ doc }}</a>
</p>
{% endfor %}
{% endif %}
{% endblock %}

{% if session.is_admin %}
{% block footer %}
<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/csv.js') }}"></script>
{% endblock %}
{% endif %}